
body {
    background-color: #08052B;
}

/* TOP MENU */
.menu h2 {
    color: white;
    text-align: center;
}

/* --------- */



/* MAIN CONTAINER */

.mainContainer {
    display: flex;
    height: 100vh;
}

.left, .right {
    flex: 1;
}

/* LEFT CONTAINER */

.left {
    background-color: #08052B;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mercureDessin {

    padding-top: 50px;
}


/* --------------- */


/* RIGHT CONTAINER */

.right {
    background-color: #08052B;
    border: 1px;
    position: relative;
    /* display: flex; */
    /* padding: 10px; */
    /* margin: 50px; */
}

.right h2 {
    font-family: sans-serif;
    font-size: 40px;
    color: white;
    text-align: right;
    padding-top: 60px;
    padding-right: 150px;
    margin-bottom: 20px;
}

#overview {
    color: white;
    display: inline-block;
    width: 450px;
    text-align: right;
    padding-left: 310px;
    font-family: sans-serif;
    font-size: 18px;
    /* text-align: right; */
    /* padding-left: 400px; */
    /* text-align: right; */
    /* padding: 15px; */
    word-spacing: 7px;
}



/* INSIDE BLOC/ VALUES */


.valueLeft {
    /* text-align: right; */

    color: white;
}

.valueRight {
    padding-right: 500px;
    color: white;
}

.number {
    color:white;
    font-family: sans-serif;
    font-size: 30px;
    /* padding-top: 500p; */
}

.days {
    color:white;
    font-family: sans-serif;
    font-size: 30px;
}

.rotation {
    color:white;
    font-family: sans-serif;
    text-align: right;
    font-size: 30px;
}

.time {
    color:white;
    font-family: sans-serif;
    padding-left: 345px;    
    font-size: 30px;
}

.radius {
    color:white;
    font-family: sans-serif;
    padding-left: 300px;    
    font-size: 30px;
}

.average {
    color:white;
    font-family: sans-serif;
    padding-left: 265px;    
    font-size: 30px;
}

.temp {
    color:white;
    font-family: sans-serif;
    padding-left: 320px;    
    font-size: 30px;
}

.content {
    display: flex;
    padding-top: 20px;
    margin-left: 270px;
    width: 500px;
    /* border: 1px solid black; */
}

.content2 {
    display: flex;
    padding-top: 50px;
    margin-left: 270px;
    width: 500px;
    /* border: 1px solid black; */
}

.content3 {
    display: flex;
    padding-top: 50px;
    margin-left: 270px;
    width: 500px;
    /* border: 1px solid black; */
}

/* .content4 {
    display: flex;
    padding-top: 100px;
    margin-left: 270px;
    width: 500px;
    /* border: 1px solid black; */
/* } */

.content4 {
    display: flex;
    padding-top: 50px;
    margin-left: 270px;
    width: 500px;
    /* border: 1px solid black; */
}

/* ------------------- */


/* ---------------- */


/* ---------------- */


/* DESSINS */

.separationLine1 {
    position: absolute; /* Permet de positionner la ligne par rapport au conteneur */
    top: 380px; /* Coordonnée Y de départ */
    left: 265px; /* Coordonnée X de départ */
    width: 500px; /* Longueur de la ligne */
    height: 0; /* Hauteur de la ligne (0 pour une ligne horizontale) */
    border-top: 2px solid white;
}

.separationLine2 {
    position: absolute; /* Permet de positionner la ligne par rapport au conteneur */
    top: 500px; /* Coordonnée Y de départ */
    left: 265px; /* Coordonnée X de départ */
    width: 500px; /* Longueur de la ligne */
    height: 0; /* Hauteur de la ligne (0 pour une ligne horizontale) */
    border-top: 2px solid white;
}

.separationLine3 {
    position: absolute; /* Permet de positionner la ligne par rapport au conteneur */
    top: 620px; /* Coordonnée Y de départ */
    left: 265px; /* Coordonnée X de départ */
    width: 500px; /* Longueur de la ligne */
    height: 0; /* Hauteur de la ligne (0 pour une ligne horizontale) */
    border-top: 2px solid white;
}

.separationLine4 {
    position: absolute; /* Permet de positionner la ligne par rapport au conteneur */
    top: 740px; /* Coordonnée Y de départ */
    left: 265px; /* Coordonnée X de départ */
    width: 500px; /* Longueur de la ligne */
    height: 0; /* Hauteur de la ligne (0 pour une ligne horizontale) */
    border-top: 2px solid white;
}

/* -------- */