
@import url('../assets/font/font.css');

/* body {
    margin: 0;
    padding: 0;
    background-color: #08052B;
} */

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-gap: 0px;
    min-height: 100vh;
    margin: 0;
    padding: 0px;
    /* font-family: Arial, sans-serif; */
    background-color: #08052B;
}

/* TOP MENU */
header {
    /* grid-column: 1 / -1; */
    padding: 1.5%;
    background-color: transparent;
    /* background-color: grey; */
    /* border-top: #fff 1px; */
    border-bottom: 0.5px solid grey;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-family: 'RBold', 'Times New Roman', Times, serif;
    font-size: 250%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'RLight', 'Times New Roman', Times, serif;
    font-size: 110%;
    /* transition: .5s; */
    
}
/* nav a:hover {
    background: blueviolet;
    filter: blur(4px);
} */


/* --------- */



/* MAIN CONTAINER */

/* .mainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    max-width: 100%;
    margin: 0 auto;
} */

.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
}

/* Nouveau right */

.article {
    width: 77%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0px;
    background-color: #fff;
}

h2 {
    font-family: 'Rbold';
    font-size: 270%;
    color: red;
    padding-top: 5%;
    /* margin-bottom: 10px; */
}

#value1, #value2, #value3, #value4 {
    position: absolute;
    right: 0;
    color: red;
    font-family: 'RBlack';
    font-size: 200%; 
}

.valueLeft {
    color: red;
    font-family: 'Rlight';
    font-size: 140%;
    text-align: left;

}

#overview {
    color: red;
    text-align: justify;
    display: inline-block;
    width: 53%;
    font-family: 'Rlight';
    font-size: 18px;
    word-spacing: 7px;
    padding-bottom: 10px;
}

.separationLine1, .separationLine2, .separationLine3, .separationLine4 {
    /* position: absolute; */
    /* right: 0; */
    width: 50%;
    /* height: 0; */
    border-top: 2px solid red;
}

.content1, .content2, .content3, .content4 {
    display: flex;
    text-align: right;
    /* margin-left: 200px; */
    width: 500px;
    margin-top: -20px;
    padding-bottom: 30px;
}

/* nouveau left */

#mercureDessin {
    width: 60%;
    min-width: 30%;
}

.image {
    background-color: #08052B;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black;
    border-color: white; */
}


/* #overview {
    color: red;
    text-align: right;
    display: inline-block;
    width: 500px;
    font-family: 'Rlight';
    font-size: 22px;
    word-spacing: 7px;
    padding-bottom: 10px;
} */

/* .separationLine1, .separationLine2, .separationLine3, .separationLine4 {
    position: absolute;
    right: 0;
    width: 500px;
    height: 0;
    border-top: 2px solid red;
} */


/* LEFT CONTAINER */

/* .left {
    background-color: #08052B;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-color: white;
} */

/* #mercureDessin {
    width: 60%;
    min-width: 30%;
} */


/* --------------- */


/* RIGHT CONTAINER */

/* .right {
    width: 700px;
    background-color: #08052B;
    border: 1px;
    position: relative;
    flex-direction: column;
    margin-right: 20%;
    text-align: right;
    border: 1px;
    border-color: 1px solid red;
}

.right h2 {
    font-family: 'Rbold';
    font-size: 40px;
    color: red;
    padding-top: 5%;
    margin-bottom: 10px;
} */

/* #overview {
    color: red;
    text-align: right;
    display: inline-block;
    width: 500px;
    font-family: 'Rlight';
    font-size: 22px;
    word-spacing: 7px;
    padding-bottom: 10px;
} */



/* INSIDE BLOC/ VALUES */

/* .valueLeft {
    color: white;
    font-family: 'Rlight';
    font-size: 22px;
    text-align: left;

} */


/* .separationLine1, .separationLine2, .separationLine3, .separationLine4 {
    position: absolute;
    right: 0;
    width: 500px;
    height: 0;
    border-top: 2px solid red;
} */

/* .content1, .content2, .content3, .content4 {
    display: flex;
    text-align: right;
    margin-left: 200px;
    width: 500px;
    margin-top: -20px;
    padding-bottom: 30px;
} */


/* #value1, #value2, #value3, #value4 {
    position: absolute;
    right: 0;
    color: white;
    font-family: 'RBlack';
    font-size: 30px;
} */


#number1 {
    padding-top: 10px;
}

.shape {
    position: absolute;
    z-index: 1;
    top: 180px;
    left: 400px;
    height: 100px;
    width: 500px;
    border-top: 2px solid red; 
    border-left: 2px solid red;
    -moz-transform: skew(145deg); 
    -webkit-transform: skew(145deg);
    transform: skew(145deg);
}