
@font-face {
    font-family: 'RBlack';
    src: url('../assets/font/Roboto/Roboto-Black.ttf') format(truetype);
}


@font-face {
    font-family: 'Rblacktalic';
    src: url('../assets/font/Roboto/Roboto-BlackItalic.ttf') format(truetype);
}

@font-face {
    font-family: 'RBold';
    src: url('../assets/font/Roboto/Roboto-Bold.ttf') format(truetype);
}

@font-face {
    font-family: 'RboldItalic';
    src: url('../assets/font/Roboto/Roboto-BoldItalic.ttf') format(truetype);
}

@font-face {
    font-family: 'Ritalic';
    src: url('../assets/font/Roboto/Roboto-Italic.ttf') format(truetype);
}

@font-face {
    font-family: 'Rlight';
    src: url('../assets/font/Roboto/Roboto-Light.ttf') format(truetype);
}

@font-face {
    font-family: 'RlightItalic';
    src: url('../assets/font/Roboto/lightItalic') format(truetype);
}

@font-face {
    font-family: 'Rmedium';
    src: url('../assets/font/Roboto/Roboto-Medium.ttf') format(truetype);
}

@font-face {
    font-family: 'RmediumItalic';
    src: url('../assets/font/Roboto/Roboto-MediumItalic.ttf') format(truetype);
}

@font-face {
    font-family: 'Rregular';
    src: url('../assets/font/Roboto/Roboto-Regular.ttf') format(truetype);
}

@font-face {
    font-family: 'Rthin';
    src: url('../assets/font/Roboto/Roboto-Thin.ttf') format(truetype);
}

@font-face {
    font-family: 'RthinItalic';
    src: url('../assets/font/Roboto/Roboto-ThinItalic.ttf') format(truetype);
}

@font-face {
    font-family: '';
    src: url('../assets/font/Roboto/') format(truetype);
}





body {
    margin: 0;
    padding: 0;
    background-color: #08052B;
}

/* TOP MENU */
header {
    /* grid-column: 1 / -1; */
    padding: 1.5%;
    background-color: transparent;
    /* background-color: grey; */
    /* border-top: #fff 1px; */
    border-bottom: 0.5px solid grey;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-family: 'RBold', 'Times New Roman', Times, serif;
    font-size: 250%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'RLight', 'Times New Roman', Times, serif;
    font-size: 110%;
}


/* --------- */



/* MAIN CONTAINER */

.mainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}


/* LEFT CONTAINER */

.left {
    background-color: #08052B;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black;
    border-color: white; */
}

#mercureDessin {

    width: 60%;
}


/* --------------- */


/* RIGHT CONTAINER */

.right {
    width: 700px;
    background-color: #08052B;
    border: 1px;
    position: relative;
    flex-direction: column;
    margin-right: 20%;
    text-align: right;
}

.right h2 {
    font-family: 'Rbold';
    font-size: 40px;
    color: white;
    padding-top: 5%;
    margin-bottom: 10px;
}

#overview {
    color: white;
    text-align: right;
    display: inline-block;
    width: 500px;
    font-family: 'Rlight';
    font-size: 22px;
    word-spacing: 7px;
    padding-bottom: 10px;
}



/* INSIDE BLOC/ VALUES */

.valueLeft {
    color: white;
    font-family: 'Rlight';
    font-size: 22px;
    text-align: left;

}


.separationLine1, .separationLine2, .separationLine3, .separationLine4 {
    position: absolute;
    right: 0;
    width: 500px;
    height: 0;
    border-top: 2px solid white;
}

.content1, .content2, .content3, .content4 {
    display: flex;
    text-align: right;
    margin-left: 200px;
    width: 500px;
    margin-top: -20px;
    padding-bottom: 30px;
}


#value1, #value2, #value3, #value4 {
    position: absolute;
    right: 0;
    color: white;
    font-family: 'RBlack';
    font-size: 30px;
}



#number1 {
    padding-top: 10px;
}


.ligne-brisee {
    width: 260px;
    border-bottom: 2px solid white;
    position: absolute;
    margin-left: 42%;
    top: 118px;
    transform-origin: 0 0;
    transform: translateY(-50%) rotate(130deg);
}

.suite-ligne {
    width: 810px;
    border-bottom: 2px solid white; /* Épaisseur et couleur de votre ligne */
    position: absolute;
    /* margin-left: 8%; */
    top: 66px;
    transform-origin: 0 0; /* Point d'origine de la transformation */
    transform: translateY(-50%);
}

