
@import url('../assets/font/font.css');

body {
    margin: 0;
    padding: 0;
    background-color: #08052B;
}

/* TOP MENU */
header {
    /* grid-column: 1 / -1; */
    padding: 1.5%;
    background-color: transparent;
    /* background-color: grey; */
    /* border-top: #fff 1px; */
    border-bottom: 0.5px solid grey;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-family: 'RBold', 'Times New Roman', Times, serif;
    font-size: 250%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'RLight', 'Times New Roman', Times, serif;
    font-size: 110%;
}


/* --------- */



/* MAIN CONTAINER */

.mainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    max-width: 100%;
    margin: 0 auto;
}


/* LEFT CONTAINER */

.left {
    background-color: #08052B;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black;
    border-color: white; */
}

#venusDessin {

    width: 60%;
    /* min-width: 30%; */
}


/* --------------- */


/* RIGHT CONTAINER */

.right {
    width: 700px;
    background-color: #08052B;
    border: 1px;
    position: relative;
    flex-direction: column;
    margin-right: 20%;
    text-align: right;
    border: 1px;
    border-color: 1px solid white;
}

.right h2 {
    font-family: 'Rbold';
    font-size: 40px;
    color: white;
    padding-top: 5%;
    margin-bottom: 10px;
}

#overview {
    color: white;
    text-align: right;
    display: inline-block;
    width: 500px;
    font-family: 'Rlight';
    font-size: 22px;
    word-spacing: 7px;
    padding-bottom: 10px;
}



/* INSIDE BLOC/ VALUES */

.valueLeft {
    color: white;
    font-family: 'Rlight';
    font-size: 22px;
    text-align: left;

}


.separationLine1, .separationLine2, .separationLine3, .separationLine4 {
    position: absolute;
    right: 0;
    width: 500px;
    height: 0;
    border-top: 2px solid white;
}

.content1, .content2, .content3, .content4 {
    display: flex;
    text-align: right;
    margin-left: 200px;
    width: 500px;
    margin-top: -20px;
    padding-bottom: 30px;
}


#value1, #value2, #value3, #value4 {
    position: absolute;
    right: 0;
    color: white;
    font-family: 'RBlack';
    font-size: 30px;
}



#number1 {
    padding-top: 10px;
}

.ligne-brisee {
    position: absolute;
    width: 10.75%;
    height: 200px
}

.line {
    position: absolute;
    width: 650px;
    height: 3px;
    background-color: white;
    top: 30%;
    left: 490%;
    z-index: 1;
  
    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 300px; 
      height: 100%;
      background-color: inherit; 
      transform: rotate(140deg);
      transform-origin: 0% 60%;
    }
  
   
  }
